/*Style Added Soon!*/
body {
	font-family: Raleway;
	color: white;
	background-image: url(jaihkdsv.png);
	background-size: 100%;
	}
<<<<<<< HEAD
.explainingDIV {
	font-family: Raleway;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 750px;
	margin: auto;
}
.bigtext {
	font-family: Raleway;
	font-size:600%;
	padding-top:4%;
	padding-bottom:15px;
}
p{
	font-family: Raleway;

}
.question{
	font-family: Raleway;
	font-size: 150%;
}
.answer{

}
h1{
	font-family: Raleway;
	padding-bottom:15px;
}
h2{
	font-family: Raleway;
	padding-bottom:10px;
}
h3{
	font-family: Raleway;
	padding-bottom:10px;
}
h4{
	font-family: Raleway;
	padding-bottom:10px;
}

	color:white;
	background-color:transparent;
	font-family: Raleway;
}
p{
	font-family: Raleway;

}
.alert.alert-info{
	color:white;
	background-color:transparent;
	border-color:white;
	text-align: center;
	font-family: Raleway;
}
.adblock{
padding-left: 25%;
padding-right:25%;
}
.minerdiv{
	padding-left: 25%;
	padding-right:25%;
}
.button{
	padding-right: 25%;
	padding-left: 25%;
	text-align: center;
}
.heading1 {
	font-size:600%;
	padding-top:4%;
	padding-bottom:15px;
}
.faq{
	font-size:150%;
	padding-top:4%;
	padding-bottom:15px;
}

.btn.btn-primary.btn-lg{
	color:white;
	background-color:transparent;
	font-family: Raleway;
	border-color: white;
}